html {
    background-color: rgb(179, 189, 196);
}

body {
    height: 100%;
    margin: 20px;
    font-family: "Proxim Nova Rg", Arial, Helvetica, sans-serif;
    color: #666;
    /* text unselectable*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

svg {
    position: absolute;
    font: 10px sans-serif;
}

h3 {
    display: inline;
    margin-right: 10px;
}

.y.axis path {
    display: none;
}

.y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}

.y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
}

.pyramidTitle {
    font: 300 36px Helvetica Neue;
    fill: #666;
}

.pyramidSubtext {
    font: 300 28px Helvetica Neue;
    fill: #666;
}
    

.birthyear,
.age {
    text-anchor: middle:
}

.birthyear {
    fill: #fff;
}

.pyramid {
    margin-left: 650px;
    margin-top: 320px;
}


.map {
    border: medium solid black;
    border-radius: 10px;
}

.districts {
    fill: rgb(70, 170, 170);
    stroke: rgb(0, 0, 0);
    stroke-width: 0.15px;
    stroke-linecap: round;
}

.gratBackground {
    fill: rgb(0,0,0);
}

.gratLines {
    fill: none;
    stroke: rgb(149, 159, 166);
    stroke-width: 0.4px;
}

.dropdown {
    margin-left: 650px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 50;
}

.dropdown select {
    font-size: 1em;
    border: 1px solid black;
    width: 275px;
}

.infolabel {
    position: absolute;
    width: 170px;
    height: 100px;
    resize: both;
    color: #fff;
    background-color: black;
    border: solid thin #fff;
    padding: 5px;
    border-radius: 5%;
    z-index: 100;
}

.infolabel h1 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 1em;
    font-size: 18pt;
}

.infolabel h2 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 1em;
    font-size: 14pt;
}

.infolabel b {
    float: left;
    font-size: 12pt;
}

.labelname {
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
}

.chart {
    background-color: transparent;
    margin-left: 650px;
}

.chartTitle {
    font-size: 18pt;
    font-weight: bold;
    fill: transparent;
}

.legend {
    background-color: transparent;
    margin-top: 550px;
    margin-left: 160px;
    border-radius: 10px;
    
}

.legendLabels {
    font-size: 10pt
}


#title {
    font: 300 72px Helvetica Neue;
    text-align: center;
    color: #666;
    margin-top: -10px;
    margin-bottom: 10px;

    
}